# Predictive Modelling and Data Transformation

Libraries
        Sklearn
        Pandas
        NumPy
        Matplotlib, Seaborn
        Statsmodels

S1={Q1,A1} training dataset(inlcudes x_train,Y_train)
    X_train=Q1=question given to model for making algorithm
    Y_train=A1=answers given to model for making algorithm by finding pattern
S2={Q2,A2} testing dataset(X_test=Q1)
           validation dataset(Y_test=A1)
    X_test=question given to model for predicting their answers
    Y_test=answers for matching/validation
    
    
Sampling=shuffling so that every row of dataset gets chance to get in model 
for sampling we use random state like random_state=101 means data rows will be shuffled 101 times when data is given to model

Usually distribution between training and testing is 70:30 percent

In [3]:
import sklearn
import pandas as pd
import numpy as np
import statistics
import statsmodels
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
from sklearn.datasets import load_iris
iris=load_iris()
print(iris.feature_names)
print(iris.target) #target is the output column it showst the output one should get here target value is 0,1,2
print(iris.target_names) #name of target

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
['setosa' 'versicolor' 'virginica']

In [7]:
feature_matrix=iris.data #collection of features based on which we predict output
feature_names=iris.feature_names #names of features

feature_matrix
feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [8]:
target_matrix=iris.target #target column
target_names=iris.target_names #name of target
target_matrix
target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [10]:
x=iris.data #feature matrix
y=iris.target #target matrix

In [12]:
df=pd.DataFrame(feature_matrix,columns=feature_names)
#add target column to dataframe
df['species (target)']=target_matrix
#Show random 5 rows
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species (target)
96,5.7,2.9,4.2,1.3,1
62,6.0,2.2,4.0,1.0,1
49,5.0,3.3,1.4,0.2,0
97,6.2,2.9,4.3,1.3,1
107,7.3,2.9,6.3,1.8,2

In [17]:
#Function to replace target matrix with target names
def replace_target(x):
    if x==0:
        return 'setosa'
    elif x==1:
        return 'versicolor'
    elif x==2:
        return 'virginica'

#Now create a new column by applying replace_target function to separate
df['species-names']=df['species (target)'].apply(replace_target)
df.sample(4)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species (target),species-names
11,4.8,3.4,1.6,0.2,0,setosa
18,5.7,3.8,1.7,0.3,0,setosa
43,5.0,3.5,1.6,0.6,0,setosa
113,5.7,2.5,5.0,2.0,2,virginica

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,train_size=0.6,random_state=101) #tarining to testing ratio is 60:40
X_train.shape,X_test.shape

((90, 4), (60, 4))

Variance threshold test
    If variance is low then column is not good for training. Eg. constant columns

In [25]:
#Make a dataframe of random data
data=pd.DataFrame({"A":[1,2,4,1,2,4],
                   "B":[4,5,6,7,8,9],
                   "C":[-0.2,0,0,0,0,0],
                   "D":[1,1,1,1,1,1]})
data.head()

   A  B    C  D
0  1  4 -0.2  1
1  2  5  0.0  1
2  4  6  0.0  1
3  1  7  0.0  1
4  2  8  0.0  1

In [27]:
data.var() #here variance of D=0 so column is not good also C=0 approx and A variance is very low
#only good column is B as its variance is high

A    1.866667
B    3.500000
C    0.006667
D    0.000000
dtype: float64

In [28]:
#Applying variance threshold method on iris data
from sklearn.feature_selection import VarianceThreshold
var_thres=VarianceThreshold(threshold=2.0)
var_thres.fit(data) #fitting var_thres value 2 in data

VarianceThreshold(threshold=2.0)

In [31]:
var_thres.get_support() #this checks in which columns variance>2 there returns true else false
data.columns[var_thres.get_support()] #returns the columns where variance>2

Index(['B'], dtype='object')

In [34]:
constant_columns=[column for column in data.columns
                 if column not in data.columns[var_thres.get_support()]]
print(len(constant_columns)) #if columns are not in var_thres.get_support() then return the no of columns


#drop those columns
data.drop(constant_columns,axis=1,inplace=True) #axis=1 means operation performed on columns
data

3

   B
0  4
1  5
2  6
3  7
4  8
5  9

In [41]:
from sklearn.feature_selection import VarianceThreshold
somedata= pd.read_csv("train.csv",nrows=10000)
train=pd.DataFrame(somedata)
df.shape
train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [46]:
#end goal is to predict these target values
train['TARGET'].values

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [45]:
x=train.drop(labels=['TARGET'],axis=1)
y=train['TARGET']

In [48]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.3,random_state=0)
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((7000, 370), (3000, 370), (7000,), (3000,))

In [49]:
#Applying variance threshold
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(X_train)

VarianceThreshold(threshold=0)

In [51]:
var_thres.get_support()
#returns array with value true where variable does not have zero variance else false

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True, False,  True, False, False,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True, False,  True, False,  True, False, False, False, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True, False, False, False, False,  True,  True,
       False,  True, False, False, False,  True, False, False, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False, False, False, False,  True,  True,  True,  True, False,
        True, False, False, False,  True, False, False, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False,  True,  True,  True,  True, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [52]:
#finding non constant-no variance features
sum(var_thres.get_support()),(train.shape[1]-1)-sum(var_thres.get_support())

(284, 86)

In [53]:
#find non constant features
len(X_train.columns[var_thres.get_support()])

284

In [55]:
constant_columns=[column for column in X_train.columns
                 if column not in X_train.columns[var_thres.get_support()]]
print(len(constant_columns))

86

In [56]:
less_varcol=[column for column in constant_columns]
print(less_varcol[:50]) #print 1st 50 columns

['ind_var2_0', 'ind_var2', 'ind_var13_medio_0', 'ind_var13_medio', 'ind_var18_0', 'ind_var18', 'ind_var27_0', 'ind_var28_0', 'ind_var28', 'ind_var27', 'ind_var34_0', 'ind_var34', 'ind_var41', 'ind_var46_0', 'ind_var46', 'num_var13_medio_0', 'num_var13_medio', 'num_var18_0', 'num_var18', 'num_var27_0', 'num_var28_0', 'num_var28', 'num_var27', 'num_var34_0', 'num_var34', 'num_var41', 'num_var46_0', 'num_var46', 'saldo_var13_medio', 'saldo_var18', 'saldo_var28', 'saldo_var27', 'saldo_var34', 'saldo_var41', 'saldo_var46', 'delta_imp_amort_var18_1y3', 'delta_imp_amort_var34_1y3', 'delta_imp_reemb_var17_1y3', 'delta_imp_reemb_var33_1y3', 'delta_imp_trasp_var17_out_1y3', 'delta_imp_trasp_var33_out_1y3', 'delta_num_reemb_var17_1y3', 'delta_num_reemb_var33_1y3', 'delta_num_trasp_var17_out_1y3', 'delta_num_trasp_var33_out_1y3', 'imp_amort_var18_hace3', 'imp_amort_var18_ult1', 'imp_amort_var34_hace3', 'imp_amort_var34_ult1', 'imp_var7_emit_ult1']

Now lets remove no variance columns

In [57]:
novar=X_train.drop(constant_columns,axis=1)
novar.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
7681,15431,2,42,840.0,4477.02,4989.54,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37491.21
9031,18181,2,31,0.0,52.32,52.32,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,106685.94
3691,7411,2,51,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66144.66
202,407,2,36,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92121.36
5625,11280,2,23,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74650.83

We will export this dataframe to csv

In [58]:
novar.to_csv('var-pass.csv',index=False)